{% extends 'base.html' %}

{% block main %}
  <form action="{% url 'sw-import' %}" method="POST" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Import new collection</button>
      </div>
    </div>
  </form>


  <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Filename</th>
      <th scope="col">Import date</th>
    </tr>
  </thead>
  <tbody>
  {% for collection in collection_list %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ collection }}</td>
      <td>{{ collection.created_at }}</td>
      <td><a class="btn btn-primary btn-sm" href="{% url 'sw-detail' pk=collection.pk %}">Open</a></td>
    </tr>
  {% endfor  %}

  </tbody>
</table>

{% endblock %}
