{% extends 'base.html' %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'sw-detail' pk=collection.pk %}">{{ collection }}</a>
  </li>
{% endblock %}

{% block main %}

  <form method="get">
    <div class="btn-group-toggle" data-toggle="buttons">
      {% for column in columns %}
      <label for="id-{{column}}" class="btn btn-sm btn-secondary">
        <input type="checkbox" value="{{ column }}" id="id-{{column}}">{{ column }}
      </label>
      {% endfor %}
    </div>
    <button class="btn btn-sm btn-primary">Aggregate</button>
  </form>

  <table id="example" class="table table-striped table-bordered" style="width:100%">
    {% for person in person_tbl %}
    <tr>
      {% for column in person %}
      <td>{{ column }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% if more %}
  <a class="btn btn-primary btn-sm" href="{% url 'sw-detail' pk=collection.pk %}?page_size={{ more }}">Load More</a>
  {% endif %}

{% endblock %}

{% block extrajs %}
<script>
  document.querySelector('form').onsubmit = function(e) {
    e.preventDefault()
    let inputs  = document.querySelector('form').querySelectorAll('input');
    let arr = [...inputs]
    arr = arr.filter( item => item.checked)
    let data = arr.map( item => item.value)

    if (!data.length) {
      return;
    }

    let oldUrl = new URL(location.href)
    let newUrl = oldUrl.origin + oldUrl.pathname + '?aggregate='+data.join();
    console.log(newUrl);
    window.location.href = newUrl;
  };
</script>
{% endblock %}
